@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(MODEL-X-.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    
}

.logo{
    margin-right:400px;
}

.tesla{
    width: 100%;
    height: 100px;
}

.navbar{
    margin-right: 450px;
}

.nav,ul{
    position: relative;
    display: flex;
}

.navv,ul,li{
    list-style: none;
}

.nav,ul,li,a{
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-weight: light;
    border-radius: 7px;
}

.nav,a:hover{
    background-color:rgba(255, 255, 255, 0.4);
    margin-right: 20px;
    margin-right: 20px;
    padding: 10px;
    
}

.signin-btn{
    width: 5%;
    border-radius: 7px;
    background-color:  rgba(255, 255, 255, 0.4);
    margin-left: 50px;
    padding: 9px;
    color:white;
    border: 1px solid  rgba(255, 255, 255, 0.4);
    font-weight: bold;
}


.model-x{
    padding-top: 150px;
    text-align: center;
    font-weight: lighter ;
    font-size: 3em;
}

.DEMO{
    display: grid;
    place-items: center;
}

.demo{
    width: 30ch;
    animation: typing 3s steps(22), blink .5s step-end
    infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0px solid;
    font-size: 1em;
}

@keyframes typing{
  from  {
       width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.order{
    margin-top:400px;
    margin-right:20px;
    width: 15%;
    height: 42px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
}

.view{
    margin-top: 400px;
    width: 15%;
    height: 40px;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.7);
    border: 1px  solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
}